

.tray {
  width: 100%;
  max-width: 100%;
  background-color: #e0e0e0;
  border-radius: 5px;
  cursor: move;
  border: 2px solid #ccc;
  overflow: hidden;
  transition: order 0.3s;
  position: relative;
  box-sizing: border-box;
}


.tray.dragging {
  opacity: 0.8;
  z-index: 1;
}

.tray-title {
  font-weight: bold;
  outline: none;
  display: inline-block;
  max-width: calc(100% - 20px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: text;
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px;
  border-radius: 3px;
}

.tray-title:focus {
  background-color: white;
}

.tray-title:empty::before {
  content: 'Untitled';
  color: #999;
  font-style: italic;
}

.tray-title:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.tray-content {
  /* min-height: 100px; */
  padding: 40px 15px 15px;
  background-color: #f5f5f5;
}

.tray .tray {
  margin: 10px 0;
  border: 1px solid #999;
  width: calc(100% - 10px);
}


.context-menu,
.label-menu {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
  z-index: 1000;
}

.menu-item,
.label-item {
  padding: 5px 10px;
  cursor: pointer;
}

.menu-item:hover,
.label-item:hover {
  background-color: #f0f0f0;
}

.tray-label {
  display: inline-block;
  background-color: #f0f0f0;
  border-radius: 3px;
  font-size: 12px;
}